
.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px auto;
}

#tabla {
    overflow-y: scroll;
}

.tabla-pizzas {
    border: 1px solid black;
}

.impar {
    background-color: lightgray;
}

.par {
    background-color: aliceblue;
}

.pizza-detalle h1 {
    font-size: 1em;
    text-align: center;
    font-variant-caps: all-small-caps;
}

.pizza-detalle li {
    font-size: 0.7em;
}

.pizza-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 160px 140px;
}
